* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    user-zoom: fixed;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }
  
  html, body {
    overflow-x: hidden;
    background-color: #e75314;
    width: 100%;
    height: 100%;
    color: white;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* MAIN */
  .hero .title {
    text-align: center;
    font-size: 70px;
    line-height: 60px;
  }
  
  .hero .title::selection, footer small::selection {
    color: #e75314;
    background-color: white;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
  }

  .hero .intro-paragraph {
    text-align: center;
    max-width: 500px;
  }

  .send-email-button-link {
    text-decoration: none;
    text-align: center;
    outline: none;
  }

  .send-email-button-link button {
    cursor: pointer;
    padding: 10px 16px;
    background-color: white;
    border: solid 2px white;
    color: #e75314;
    text-transform: uppercase;
    outline: none;
}

  .send-email-button-link button:hover, .send-email-button-link button:active, .send-email-button-link:focus button {
    background-color: #e75314;
    color: white;
  }
  
  
  /* FOOTER */
  footer {
    text-align: center;
  }
  
  footer .copyright {
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 970px) {
    .hero .title {
      font-size: 70px;
    }

    .hero p {
        text-align: center;
        max-width: 500px;
    }
  }
  
  @media screen and (max-width: 750px) {
    .hero .title {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .hero .title {
      font-size: 32px;
      max-width: 400px;
       line-height: 30px;
    }
  }